/* .react-tel-input .flag {
    width: 30px !important;
    height: 30px !important;
    border-radius: 70% !important;
}

.react-tel-input .selected-flag {
    width: 80px !important;
    height: 28px !important;
    display: hidden !important;
}
.react-tel-input .flag-dropdown {
    border: none !important;
    background: transparent !important;
} */
